html {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn2us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/images/11164.jpg?itok=HSqmSLTt);
	background-color: white;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100%;
}
body {
	height: 100vh;
	margin: 0;
	box-sizing: border-box;
}

.content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	text-align: left;
	margin: 0 auto;
	padding: 1rem;
	justify-content: center;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.info h2 {
	padding: 0 1rem;
}

.radio-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1rem;
}

.main-start {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}



h3 {
	color: black;
	font-size: 28px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quiz-option {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
	flex: 1 1 auto;
	width: 20vw;
	height: 20vw;
	overflow: hidden;
	flex: 0 1 auto;
	box-sizing: border-box;
}

.quiz-option:focus {
	border: 2px solid blue;
}

input[type='image'] {
	width: 20vw;
}

.quiz-block {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 20px 20px 20px black;
}

.radio-group {
	display: flex;
	flex-direction: row;
	padding: 0;
}

.start-button {
	padding: 20px 40px;
	text-align:center;
	font-size: 40px;
	background-color: green;
	color: lightblue;
	border-radius: 15px;
	box-shadow: 2px 2px 5px black;
	margin: auto auto;
}


@media screen and (max-width: 420px) {
	body {
		font-size: 18px;
	}
	.quiz-option {
		width: 40%;
		height: auto;
		align-items: space-around;
	}
	
	.quiz-question {
		margin: 0;
		font-size: 16px;
	}

	.quiz-option input {
		width: 100%;
		height: auto;
	}
}

@media screen and (min-width: 421px) and (max-width: 1024px) {
	body {
		font-size: 16px;
	}
	.quiz-option {
		height: 20vw;
		width: 20vw;
		overflow: hidden;
	}

	input[type='image'] {
		width: 20vw;
	}
}


