html {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn2us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/images/11164.jpg?itok=HSqmSLTt);
	background-color: white;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100%;
}

.content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	text-align: left;
	margin: 0 auto;
	padding: 1rem;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.info h2 {
	padding: 0 1rem;
}

.radio-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1rem;
}

.main-start {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}



h3 {
	color: black;
	font-size: 28px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quiz-option {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
	width: 400px;
	height: 400px;
	overflow: hidden;
	flex: 0 1 auto;
	box-sizing: border-box;
}

.quiz-option:hover {
	border: 10px solid blue;
}

input[type='image'] {
	width: 400px;
}

.quiz-block {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 20px 20px 20px black;
}

.start-button {
	padding: 20px 40px;
	text-align:center;
	font-size: 40px;
	background-color: green;
	color: lightblue;
	border-radius: 15px;
	box-shadow: 2px 2px 5px black;
	margin: auto auto;
}


@media screen and (max-width: 420px) {
	.quiz-option {
		width: 125px;
		height: 125px;
		overflow: hidden;
	}
	
	input[type='image'] {
		width: 125px;
	}
}

@media screen and (min-width: 421px) and (max-width: 1024px) {
	.quiz-option {
		height: 325px;
		width: 325px;
		overflow: hidden;
	}

	.start-layout {
		position: fixed;
		left: calc(50% - 83px);
		top: 50%;
	}

	input[type='image'] {
		width: 325px;
	}
}


